*{
    font-family: "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, "Segoe UI";
}

.center{
    display: flex;
    justify-content: center;
    background-color: #fbeba8;
}

button {
    color: purple;
}

.roundy{
    position: relative;
    margin: 40px 0;
    padding: 30px 30px 10px 30px;
    background-color: rgb(136, 201, 161);
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 0 0 rgba(0,0,0,0.15);
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.15);
}

.breeding-area{
    background-color: green;
    background-image: url("../../assets/images/grass.bmp");
    background-size: 70px 70px;
    width: 400px;
    height: 400px;
}

.seed-bags {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
}

.breeding-cell {
    border: 1px double green;
    background-color:rgb(136, 201, 161, 0.2);
    text-align: center;
}

.breeding-cell img {
    height: 90%;
}

.seed-bags img {
    height: 50px;
}
