<div layout="row" layout-align="center center">
    <div class="roundy">
        <form [formGroup]="gridOptions" (ngSubmit)="onSubmit(gridOptions.value)">
                <table>
                <td>
                    <div>
                        <label for="rows">Rows</label>
                        <input id="rows" type="number" min="3" max="15" formControlName="rows" numeric-only required>
                        <!-- flowerValidation -->
                        <div *ngIf="submitted && flowerValidation.rows.errors">
                            There must be a minimum of three rows and a maximum of fifteen.
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="columns">Columns</label>
                        <input id="columns" type="number" min="3" max="15" formControlName="columns" numeric-only required >
                        <!-- flowerValidation -->
                        <div *ngIf="submitted && flowerValidation.columns.errors">
                            There must be a minimum of three columns and a maximum of fifteen.
                        </div>
                    </div>
                </td>
                <div>
                    <label for="breedrate">Breeding Rate</label>
                    <input id="breedrate" type="number" min="0.01" max="1" formControlName="breedrate" numeric-only required >
                    <!-- flowerValidation -->
                    <div *ngIf="submitted && flowerValidation.breedrate.errors">
                        Breeding success rate must be between 0.01 and 1.0.
                    </div>
                </div>
                <!-- just.... worry about validation later... no worry now-->
                <button class="button" type="submit">Update Grid</button>  
            </table>
        </form>
    </div>

    <div class="roundy" layout="row center-center">
        <mat-grid-list cols="{{gridColumns}}" rowHeight="fit" class="breeding-area">
                <ng-container *ngFor="let row of grid; let pIndex=index;" >

                <mat-grid-tile *ngFor="let flower of row; let dIndex=index;" id="area-{{pIndex}}-{{dIndex}}" 
                [ngClass]="{'highlighted': focused_flower.x === pIndex && focused_flower.y === dIndex && flower.type !== 'blank', 'highlighted-child': focused_children.indexOf(flower) >= 0, 'highlighted-parent': focused_parents.indexOf(flower) >= 0}" class="breeding-cell" 
                (dragover)="allowDrop($event)" (drop)="onFlowerDropped($event)">
                        <div *ngIf="flower.type !== 'blank'"
                        attr.data-type="{{ flower.type }}" attr.data-genes="{{flower.genes.red}}{{flower.genes.yellow}}{{flower.genes.white}}{{flower.genes.rose}}"
                        attr.data-color="{{flower.color}}" attr.data-generation="{{flower.generation}}" attr.data-isSeedBag="{{flower.isSeedBag}}">
                        <img draggable=true (dragstart)="onFlowerDragged($event)" (click)="putFlowerInFocus(pIndex, dIndex)" class="grid-imgs" src="{{ flower.image_loc }}" layout-fill>
                        </div>
                </mat-grid-tile>
                </ng-container>
        </mat-grid-list>

        <div id="detailed-view" rowHeight="fit" *ngIf="focused_flower.type != 'blank' && focused_flower.genes !== {}">
            <mat-card>
                <mat-card-header>
                    <img mat-card-sm-image class="flower-imgs"  src="{{ focused_flower.image_loc }}">
                    <mat-card-title>{{focused_flower.color | titlecase}} {{focused_flower.type | titlecase}}</mat-card-title>
                    <mat-card-subtitle>Origin: {{focused_flower.isSeedBag ? "Seed" : "Bred"}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>   
                    <p> Generation: {{focused_flower.generation}}</p>            
                    <table id="gene-view-table">                    
                        <tr>
                            <td>Red: </td>
                            <td>{{focused_flower.genes["red"]}}</td>
                            <td>Yellow:</td>
                            <td>{{focused_flower.genes["yellow"]}}</td>
                        </tr>
                        <tr>
                            <td>White:</td>
                            <td>{{focused_flower.genes["white"]}}</td>
                            <td>Rose:</td>                        
                            <td>{{focused_flower.genes["rose"]}}</td>
                        </tr>
                    </table>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Parents</mat-panel-title>
                                <mat-panel-description>Click for more info.</mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list class="family-wrapper" *ngIf="focused_parents.length !== 0">
                                <mat-list-item *ngFor="let parent of focused_parents" class="focused-family" (click)="putFlowerInFocus(parent.x, parent.y)">
                                    <img matListAvatar src="{{parent.image_loc}}">
                                    <p matLine>Location: ({{parent.x}}, {{parent.y}})</p>
                                    <p matLine>Genes: {{parent.genes["red"]}} | {{parent.genes["yellow"]}} | {{parent.genes["white"]}} | {{parent.genes["rose"]}}</p>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Direct Children</mat-panel-title>
                                <mat-panel-description>Click for more info.</mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list class="family-wrapper" *ngIf="focused_children.length !== 0">
                                <mat-list-item *ngFor="let child of focused_children" class="focused-family" (click)="putFlowerInFocus(child.x, child.y)">
                                    <img matListAvatar src="{{child.image_loc}}">
                                    <p matLine>Location: ({{child.x}}, {{child.y}})</p>
                                    <p matLine>Genes: {{child.genes["red"]}} | {{child.genes["yellow"]}} | {{child.genes["white"]}} | {{child.genes["rose"]}}</p>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Child Possibilities</mat-panel-title>
                                <mat-panel-description>Click for more info.</mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-list class="family-wrapper">
                                <mat-list-item *ngFor="let item of focused_possibilities" class="focused-family">
                                    <p>{{ item.location }}:</p>
                                    <img class="flower-imgs" *ngFor="let poss of item.colors" src="{{poss}}">
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button (click)="removeFocusedFlower()">Remove Flower</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <!-- <div class="roundy">
        <table class="breeding-area">
            <tr *ngFor="let row of grid by index; let pIndex=index;">
                <td *ngFor="let flower of row; let dIndex=index;" id="area-{{pIndex}}-{{dIndex}}" class="breeding-cell" (dragover)="allowDrop($event)" (drop)="onFlowerDropped($event)">
                    <div *ngIf="flower.type !== 'blank'"
                        attr.data-type="{{ flower.type }}" attr.data-genes="{{flower.genes.red}}{{flower.genes.yellow}}{{flower.genes.white}}{{flower.genes.rose}}"
                        attr.data-color="{{flower.color}}" attr.data-generation="{{flower.generation}}" attr.data-isSeedBag="{{flower.isSeedBag}}">
                        <img (click)="putFlowerInFocus(pIndex, dIndex)" class="flower-imgs" src="{{ flower.image_loc }}" layout-fill>
                    </div>
                </td>
            </tr>
        </table>
        
    </div> -->



    <button mat-stroked-button (click)="highlightNeighbors()">Highlight Neighbors</button>
    <button mat-stroked-button (click)="pollinate()">Pollinate</button>



    <h3 >Seed Bags</h3>



    <div class="roundy">
        <div class="seed-bags">
            <div class="grid-item" *ngFor="let flower of seed_flowers; let eleIndex=index;" id="bags-{{eleIndex}}" draggable=true (dragstart)="onFlowerDragged($event)"
            attr.data-type="{{ flower.type }}" attr.data-genes="{{flower.genes.red}}{{flower.genes.yellow}}{{flower.genes.white}}{{flower.genes.rose}}"
            attr.data-color="{{flower.color}}" attr.data-generation="{{flower.generation}}" attr.data-isSeedBag="{{flower.isSeedBag}}">
                <img class="flower-imgs" src="{{ flower.image_loc }}">
            </div>
        </div>
    </div>
</div>
