
<ag-grid-angular
style="width: 100%; height: 500px;"
class="ag-theme-balham"
[rowData]="rowData | async"
[columnDefs]="columnDefs"
></ag-grid-angular>


<div>
    <table>
        <tr *ngFor="let row of grid" cdkDrop>
            <td *ngFor="let flower of row">
                <div class="drop-col"
                    (dragover)="onDragOver($event)"
                    (drop)="onDrop($event)">
                    <span id="eDropTarget" class="drop-target">
                    ==&gt; Drop to here
                    </span>
                    <div id="eJsonDisplay" class="json-display"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
 
